---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Check Your Eligibility",
    description:
      "Answer a few questions to find out what benefits you're eligible for.",
    icon: "bx:bx-check-circle",
  },
  {
    title: "Renew Your Benefits",
    description:
      "Are your benefits expiring? Submit a request to renew or recertify your benefits.",
    icon: "bx:bx-refresh",
  },
  {
    title: "Report A Change",
    description:
      "Got a new address or a new job? Update and report any changes to your household information.",
    icon: "bx:bxs-file-export",
  },
  {
    title: "Cash Assistance",
    description:
      "Temporary cash assistance is available for eligible pregnant women and low-income families with minor children.",
    icon: "bx:bx-money",
  },
  {
    title: "Medical Assistance",
    description:
      "Provides access to essential healthcare services, including doctor visits, hospital care, prescription medications, and preventive services.",
    icon: "bx:bx-health",
  },
  {
    title: "Qualified Medicare Beneficiary",
    description:
      "Helps low-income individuals by covering the costs of Medicare premiums, deductibles, and co-payments.",
    icon: "bx:bx-plus-medical",
  },
];
---

<div class="mt-16 pt-16 md:mt-0" id="features">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to assist in your care
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    If someone with a disability already receives Medicaid, their state may
    allow a family member or friend to become a paid caregiver.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full p-1 w-8 h-8 shrink-0">
          <Icon class="text-white size-6" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
